In [ ]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [ ]:
#Q1> Answer

In [2]:
import pandas as pd

# Create a Series with the given data
data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

In [3]:
# Print the Series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [ ]:
#Q2> Answer>

In [4]:
import pandas as pd

# Create a list with 10 elements
my_list = [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [5]:
# Convert the list to a Pandas Series
my_series = pd.Series(my_list)
print(my_series)

0     3
1     6
2     9
3    12
4    15
5    18
6    21
7    24
8    27
9    30
dtype: int64

In [ ]:
#Q3. Create a Pandas DataFrame that contains the following data:
Name  Age    Gender
Alice  25    Female
Bob    30    Male
Claire 27    Female
Then, print the DataFrame.

In [ ]:
#Q3.> Answer>

In [6]:
import pandas as pd

# Create a dictionary with the given data
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

In [7]:
# Create a DataFrame from the dictionary
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
#Q4>Answer,

In [ ]:
In pandas, a DataFrame is a two-dimensional, tabular data structure that can be thought of as an in-memory spreadsheet.
It consists of rows and columns, where each column can have a different data type. 
You can think of a DataFrame as a collection of Series objects, where each column is a Series.
It provides a powerful and flexible way to analyze and manipulate structured data.

In [ ]:
On the other hand, a Series is a one-dimensional labeled array, essentially a single column of data with an associated index.
It can be considered as a building block of a DataFrame. 
A DataFrame is a collection of Series objects, where each Series represents a column.

In [ ]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [ ]:
#Q5>Answer

In [ ]:
Pandas provides a variety of functions to manipulate and analyze data in a DataFrame.
Here are some common functions along with examples.
1>head() and tail()
2>describe()
3>info()
4>sort_values()
5>groupby()
6>apply()
7>drop(), fillna()

In [ ]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
#Q6>Answer.

In [ ]:
Series is mutable, meaning we can modify its values, index, or other properties after it has been created. 
We can change individual elements, add or remove elements, and perform various operations on the Series.

DataFrame: A DataFrame is also mutable. We can modify its columns, add or remove columns, 
and perform a wide range of operations on the DataFrame.

Panel is deprecated and no longer available in recent versions of pandas.

In [ ]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
#Q7.>Answer

In [ ]:
We can create a DataFrame using multiple Series by combining them into a dictionary,
where the keys of the dictionary become the column names, and the values are the corresponding Series. 
Here is an example,

In [8]:
import pandas as pd

# Creating multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'], name='Name')
age_series = pd.Series([25, 30, 27], name='Age')
gender_series = pd.Series(['Female', 'Male', 'Female'], name='Gender')

In [9]:
# Creating a DataFrame using the Series
df = pd.DataFrame({'Name': name_series, 'Age': age_series, 'Gender': gender_series})
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
-Three Series (name_series, age_series, and gender_series) are created, each representing a column of the DataFrame.
-A DataFrame (df) is then created using a dictionary where the keys are the column names, and the values are the corresponding Series.
-The resulting DataFrame contains three columns: 'Name', 'Age', and 'Gender', with data from the respective Series.